cloudpickle
crafter
gym==0.19.0
jax
jaxlib
numpy
optax==0.14.0 # for python 3.8, you can remove the version for python 3.9
rich
ruamel.yaml==0.17 # for python3.8
tensorflow
# tensorflow-cpu
# tensorflow_probability
